.center{
	text-align: center;
}
.jumbotron{
	background-color:black;
	background-size:100%;
	background-repeat: no-repeat;
	color:white;
	opacity:0.9;
	margin-bottom:0;
	//min-height:100vh;
	padding:0;
	height:auto;
}
.jumbotron h1 {
	color:white;
}

#video-bg {
position: relative;
width:100%;
height: auto;
max-height:100%;
background-size: cover;
max-height:100vh;
}

iframe {
	max-width:100%;
}
video {display: block;}

#video-cover {
	top:0;
	position:absolute; 
	width:100%;
	background-color: rgba(0, 0, 0, 0.8);
}
#video-cover h1 {
	margin-top:25%;
}
.navbar-transparent{
	background:transparent;
	border:none;
}
.navbar-transparent  .navbar-header>a{
	color:white;
}
.navbar-transparent .navbar-nav>li>a{
	color:white;
}
.navbar-black{
	background:black;
}
.navbar-dark{
	background:rgb(51, 51, 51);
}

@media(max-width:767px) {
	#video-main{
		height:auto;
		margin-top:25px;
	}
	#video-cover h1{
		margin-top:75px;
	}
}

body {
	background-color: #f0f3f4;
	color:black;
}
#about .container{
	background-color:#F3F1EB;
	color:black;
	padding:20px;
}